.div-1 {
    background-color: brown;
    transform: translate(50px, 100px) skew(20deg, 10deg) scale(2) rotate(30deg);
}

.div-2 {
    background-color: coral;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: linear;
}

.div-2:hover {
    background-color: cyan;
}

div {
    display: inline-block;
    margin: 100px;
    width: 200px;
    height: 200px;
}

.div-3 {
    background-color: darkmagenta;
}

.div-3:hover {
    animation-name: height-animation;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes height-animation {
    from {
        height: 200px;
    }
    25% {
        height: 220px;
    }
    50% {
        height: 240px;
    }
    75% {
        height: 260px;
    }
    to {
        height: 280px;
    }
}